{% extends "base.html" %}
{% load rating %}
{% load static %}

{% block content %}

<div class="row">
	<div id="name" class="span3 well">
		{% render_agent_info agent %}
	</div>
	<div id="endorsements" class="span3">
		{% render_endorsements endorsements %}
	</div>
	<div id="graph" class="span4 well">
		<div id="graph-button" class="btn btn-small btn-info">
			<i class="icon-info-sign icon-white"></i>
			Graph
		</div>
	</div>	
</div>
<div class="row">
	<div id="loans" class="span3 well">
		{% render_loans loans %}
	</div>
</div>

<script>
var pk = {{agent.pk}};
</script>
<script src="{% get_static_prefix %}js/agent.js" type="text/javascript" charset="utf-8"></script>


{% endblock content %}