{% extends "base.html" %}
{% load rating %}
{% load static %}

{% block content %}

<div class="row">
  <div id="loan-name" class="span5 well">
    {% render_loan_info loan %}
  </div>
  <div id="endorsements" class="span3">
    {% render_endorsements loan.endorsements %}
  </div>
</div>
<div id="evaluate-div" class="row">
  <div id="evaulate-well" class="span10 well">
    <div id="evaluate-button-row" class="row">
      <div id="evaluate" class="span5">
	<div id="evaluate-button" class="btn btn-small btn-info">
	  <i class="icon-info-sign icon-white"></i>
	  Evaluate Loan
	</div>		
      </div>
    </div>
    <div id="evaluate-graph-row" class="row">
      <div id="evaluate-graph" class="span10">
      </div>
    </div>
  </div>
</div>

<script>
var pk = {{loan.pk}};
</script>
<script src="{% get_static_prefix %}js/loan.js" type="text/javascript" charset="utf-8"></script>
{% endblock content %}
