body {margin:80px 0;}

.navbar .brand {color:#fff; font-weight:light; font-size:28px; letter-spacing:0.05em;}
.navbar img.brand {float:left; height:28px;}
.navbar h1.brand {margin-left:0;}
.navbar .nav-collapse form {margin:8px 0 0;}
.navbar .nav-collapse form input {margin-bottom:0;}

.page-content {display:none;}
.page-content.active {display:block;}

/*.table caption {background:#f2f2f2; font-weight:bold; padding:8px;}
.table-bordered caption {border:1px solid #ddd; border-bottom:0; border-radius:3px 3px 0 0;}
.table-bordered.table-caption {border-top-left-radius:0; border-top-right-radius:0;}
*/

.chart rect {
	stroke: darkgray;
	fill: steelblue;
}

#evaluate-graph .e-score {
    fill: #005FB3;
    opacity: .5;
}

#evaluate-graph .cs-score {
    fill: #007029;
    opacity: .5;
}

#evaluate-graph .threshold {
    fill: gray;
}
