.score {
	width: 30px;
	height: 30px;
}

table .name {

}

table .score {
	width: 40px;
}

#endorsements {
}

#name {
}

.chart rect {
	stroke: darkgray;
	fill: steelblue;
}

#evaluate-graph .e-score {
    fill: #005FB3;
    opacity: .5;
}

#evaluate-graph .cs-score {
    fill: #007029;
    opacity: .5;
}

#evaluate-graph .threshold {
    fill: gray;
}
