{% extends "base.html" %}
{% load loan %}

{% block content %}
<header class="content-header">
	<form class="form-search pull-right">
		<input type="text" class="search-query" placeholder="Search Agents">
	</form>
	<h2>Agents</h2>
</header>
<div class="content-body">
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Trust Score</th>
				<th>Loans</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for actor in actors %}
			<tr>
				<td><a href="#"><i class="icon-chevron-right"></i></a></td>
				<td><a href="{% url frontend:actor-detail actor.pk %}">{{actor.name}}</a></td>
				<td>{{actor.trust_score|floatformat:2}}</td>
				<td>{{actor.loans|length}}</td>
				<td>
					{% include "actor-actions.html" %}
				</td>
			</tr>
			<tr>
				<td colspan="6">
					<table class="table">
						<caption>{{ actor.name}}'s Loans</caption>
						<tbody>
							{% for loan in actor.loans.all %}
							<tr>
								<td><a href="{% url frontend:loan-detail loan.pk %}">{{loan.description}}</a></td>
								<td>${{loan.amount|floatformat:2}}</td>
								<td>{% loan_status_label loan %}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}