<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}
<body>
	{% include "dashboard.html" %}
	<div class="container">
		<div class="row">
			<div class="span9">
				<div class="tabbable">
					{% include "nav-tabs.html" %}
					<div class="tab-content">
					{% block content %}
					{% endblock content %}
					</div><!-- .tab-content -->
				</div><!-- .tabbable -->
			</div><!-- .span9 -->

			{% include "side-view.html" %}
		</div>
	</div>
	<hr>
	<div class="container">
	{% include "footer.html" %}
	</div> 
</body>
</html>