{% load static %}
{% load dajaxice_templatetags %}
<head>
    <meta charset="utf-8">
    <title>TrustScore Dashboard</title>
	<link rel="stylesheet" href="{% get_static_prefix %}bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="{% get_static_prefix %}css/style.css">
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="{% get_static_prefix %}bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/trustscore.js"></script>
    <script type="text/javascript" src="{% get_static_prefix %}js/d3.min.js"></script>
    {% dajaxice_js_import %}
</head>
