{% extends "base.html" %}

{% block content %}
<header class="content-header">
	<!--h2>Action Items</h2-->
</header>
<div class="content-body">
	<!--div class="accordion" id="main-accordion">
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#main-accordion" href="#collapseOne">Recently Added Agents</a>
			</div>
			<div id="collapseOne" class="accordion-body in collapse">
				<div class="accordion-inner">
					<div class="item">
						<div class="item-inner">
						</div>
					</div>
					<div class="item">
						<div class="item-inner">
						</div>
					</div>
					<div class="item">
						<div class="item-inner">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#main-accordion" href="#collapseTwo">Active Loans</a>
			</div>
			<div id="collapseTwo" class="accordion-body collapse">
				<div class="accordion-inner"-->
					<h3>Active Loans</h3>
					<table class="table table-striped tablesorter" id="index-activeloans-table">
						<thead>
							<tr>
								<th>Loan</th>
								<th>Amount</th>
								<th>Agent Name</th>
								<th>Status</th>
							</tr>
						</thead>
						<tbody>
							{% for loan in active_loans %}
							<tr>
								<td><a href="{% url frontend:loan-detail loan.pk %}">{{loan.description}}</a></td>
								<td><span class="label label-amount">${{loan.amount|floatformat:2}}</span></td>
								<td><a href="{% url frontend:actor-detail loan.actor.pk %}">{{loan.actor.name}}</a></td>
								<td><span class="label label-info">Awaiting Action</span></td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				<!--/div>
			</div>
		</div>
	</div-->
</div>
{% endblock content %}