
{% load frontend %}
<div class="container">
	<ul id="nav-actions" class="nav nav-pills pull-right">
		<li class="dropdown">
			<a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-plus-sign"></i> Quick Add <b class="caret"></b></a>
			<!-- these open up "quick add modals". modals exist below footer -->
			<ul class="dropdown-menu">
				<li id="add-agent"><a href="#quick-add-agent-modal" class="" data-toggle="modal">Add Agent</a></li>
				<li id="add-endorsement"><a href="#quick-add-endorsement-modal" class="" data-toggle="modal">Add Endorsement</a></li>
				<li id="add-loanrequest"><a href="#quick-add-loanrequest-modal" class="" data-toggle="modal">Add Loan Request</a></li>
			</ul>
		</li>
	</ul>
	<ul id="nav-main" class="nav nav-pills">
		<li class="{% active request "^/$" %}"><a href="{% url frontend:index %}"><span>Action Items</span></a></li>
		<li class="{% active request "^/actors$" %}"><a href="{% url frontend:actors %}"><span>Agents</span></a></li>
		<li class="{% active request "^/loans$" %}"><a href="{% url frontend:loans %}"><span>Loans</span></a></li>
	</ul>
</div>
