<!-- modals are opened by "Quick Add" in the header -->
<div id="modal-container">
	<div class="modal hide fade" id="add-agent-modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Add Agent</h3>
		</div>
		{{actor_add_view}}
	</div>
	<div class="modal hide fade" id="add-loan-endorsement-modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Add Loan Endorsement</h3>
		</div>
		{{loan_endorsement_add_view}}
	</div>
	<div class="modal hide fade" id="add-borrower-endorsement-modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Add Borrower Endorsement</h3>
		</div>
		{{borrower_endorsement_add_view}}
	</div>
	<div class="modal hide fade" id="add-loanrequest-modal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">×</button>
			<h3>Add Loan Request</h3>
		</div>
		{{loan_add_view}}
	</div>
</div><!-- #modal-container" -->
