<div id="quick-add" class="sidebar well">
	<h3>Quick Add</h3>
	<p id="add-agent">
		<a href="#add-agent-modal" class="btn" data-toggle="modal"><i class="icon-user"></i> Add Agent</a>
		<div class="modal hide fade" id="add-agent-modal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Add Agent</h3>
			</div>
			{{actor_add_view}}
		</div>
	</p>
	<p id="add-endorsement">
		<a href="#add-endorsement-modal" class="btn" data-toggle="modal"><i class="icon-bullhorn"></i> Add Endorsement</a>
		<div class="modal hide fade" id="add-endorsement-modal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Add Endorsement</h3>
			</div>
			{{endorsement_add_view}}
		</div>
	</p>
	<p id="add-loanrequest">
		<a href="#add-loanrequest-modal" class="btn" data-toggle="modal"><i class="icon-briefcase"></i> Add Loan</a>
		<div class="modal hide fade" id="add-loanrequest-modal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>Add Loan</h3>
			</div>
			{{loan_add_view}}
		</div>
	</p>
</div>