<div class="span3">
	{% include "quick-add.html" %}			
	<div class="alert alert-info">
		<h4>Developer Note: All Forms</h4>
		<ul>
			<li>Needs form validation JS.</li>
			<li>On close, wipe data if unsubmitted</li>
			<li>All items with Typeahead JS need to connect to current Agent data set.</li>
		</ul>
	</div>
	
	<div class="sidebar">
		<h3>Recent Views</h3>
		<ul>
			<li><a href="">Latest Search</a></li>
			<li><a href="">Second Latest Search</a></li>
			<li><a href="">Viewed Agent</a></li>
		</ul>
	</div>

	<div class="alert alert-info">
		<h4>Developer Note: Recent Searches</h4>
		<ul>
			<li>Load new searches</li>
		</ul>
	</div>
	
</div><!-- .span3 -->
