{% load static %}

body {margin:0; background:#ed740c url(../img/bg-inverse.png) fixed;}
input[type="search"],
input.search-query {padding:6px 11px; border-radius:20px;}
td {overflow:visible;}


/* global bootstrap classes
-------------------------------------------------------------------------------- */
/* a bootstrap tooltip with content. sets it visible above the fixed-top navbar */
.popover.in {z-index:10000;}

.label {font-size:11px; padding:3px 6px 4px;}
/* these labels are not in bootstrap, but uses bootstrap syntax */
.label.label-amount {font-size:14px; color:inherit; background:transparent; text-shadow:none;}
.label.label-score {border-radius:3px; float:left; height:1em; background:#df761d; color:#fff; padding:0.3em 6px; font-size:18px; line-height:1em; font-weight:normal;}
.label.label-score:after {content:""; display:block; border-radius:0 0 3px 3px; background:rgba(255,255,255,0.2); height:0.8em; position:relative; top:-0.5em; border-top:1px solid #fff; margin:0 -6px;}

/* this icon class is not in bootstrap, but uses bootstrap syntax */
.icon-add {float:left; width:21px; height:21px; font-size:20px; line-height:18px; margin-right:10px; background:#333; border-radius:50%; color:#fff; text-align:center;}

.dropdown-menu li > a {padding-top:8px; padding-bottom:8px;}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a:hover {background:#ccc; color:#000;}

.accordion-group {border:0; margin-bottom:18px;}
.accordion-heading .accordion-toggle {padding:9px 15px 6px; border-radius:6px 6px 0 0; font-weight:bold; text-transform:uppercase; color:#666; background:#e5e5e5;}
.accordion-heading .accordion-toggle:hover {color:#333; text-decoration:none; background:#ddd;}
.accordion-body {border-bottom:1px solid #ddd; padding-bottom:2px;}
.accordion-body .accordion-inner {padding:15px; border-top:1px solid #ddd;}


/* global tablesorter JS plugin classes
-------------------------------------------------------------------------------- */
.tablesorter th {position:relative; border-right:1px solid #e9e9e9;}
.tablesorter th:last-of-type {border-right:0;}
.tablesorter th.header:before {content:""; width:0; height:0; border-bottom:4px solid #666; border-left:4px solid transparent; border-right:4px solid transparent; position:absolute; top:12px; right:10px;}
.tablesorter th.header:after {content:""; width:0; height:0; border-top:4px solid #666; border-left:4px solid transparent; border-right:4px solid transparent; position:absolute; top:18px; right:10px;}
.tablesorter th.headerSortDown,
.tablesorter th.headerSortUp {background:#eee;}
.tablesorter th.headerSortDown:before,
.tablesorter th.headerSortUp:after {display:none;}
.tablesorter th.headerSortDown:after,
.tablesorter th.headerSortUp:before {top:15px;}
.tablesorter td > a {display:block; padding:4px 0 5px; font-size:14px; border-radius:3px;}
.tablesorter td > a:hover {background:#eee;}


/* other global classes
-------------------------------------------------------------------------------- */
/* items are floated boxes to show info in non-table forms */
.item {float:left; width:25%;}
.item-inner {min-height:100px; margin:0 20px 30px 0; padding:15px; box-shadow:0 1px 3px #999; background:#000 url(../img/bg.png);}

/* these target detail views */
.graph-header h2 {background:#fff; position:relative; top:15px; left:15px; padding:3px 8px;}
.graph-header h2 span {padding-left:2em;}
/*.graph-header h3 {line-height:36px; position:relative; top:15px; right:15px;}*/
.graph-container {background:#ddd; border:1px solid #d5d5d5; padding:45px 0;}

/* similar to .accordion-toggle */
.content-body h3 {padding:27px 0 6px; font-weight:bold; text-transform:uppercase; color:#666; border-bottom:1px solid #eee; font-size:15px;}


/* structure-specific
-------------------------------------------------------------------------------- */
.navbar {border-top:6px solid #777; background:#000 url(../img/bg.png) fixed; box-shadow:0 0 20px 15px #fff;}
.navbar-inner {background:rgba(0,0,0,0.05); padding:32px 0 0; box-shadow:none; border-bottom:1px solid #ccc; border-top:1px solid #fff;}
.navbar .brand {color:#000; font-weight:200; font-size:32px; letter-spacing:0.05em;}
.navbar a.brand {float:left;}
.navbar a.brand img {height:32px; display:block;}
.navbar h1.brand {margin-left:0; margin-top:4px; position:relative;}
.navbar .nav-collapse form {margin:8px 0 0;}

/* navar search */
.navbar .search-query {box-shadow:0 0 1px rgba(0,0,0,0.2);}
.navbar .search-query,
.navbar .search-query:focus,
.navbar .search-query.focused {padding:5px 15px; height:30px; color:#333; font-size:120%; line-height:1.3em; text-shadow:none; background-color:#fff; border:none;}
.navbar .search-query:focus,
.navbar .search-query.focused {box-shadow:0 0 3px rgba(0,0,0,0.3);}

/* navbar all nav */
.navbar .nav {margin-top:16px; border-color:#ccc; position:relative; top:1px;}
.navbar .nav > li > a {font-size:135%; text-shadow:none; color:#555; margin:0 6px 0 0; padding:18px 15px;}
.navbar .nav > li > a:hover {color:#f58220; background:#ddd; background:rgba(255,255,255,0.4); border-color:#e5e5e5 #e5e5e5 #ccc;}
.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover {background:#fff; color:#000; border-color:#ccc #ccc #fff;}

/* main nav specific */
.navbar #nav-main > li.active > a:before {content:""; position:absolute; top:0;}

/* quick add specific */
.navbar .nav.pull-right ul.dropdown-menu {right:-16px; margin-top:12px;}
.navbar .nav li.dropdown             .dropdown-toggle {margin-right:0; padding:8px 0 10px; position:relative; top:10px;}
.navbar .nav li.dropdown             .dropdown-toggle:hover {background:transparent; color:#d06407;}
.navbar .nav li.dropdown.open        .dropdown-toggle,
.navbar .nav li.dropdown.open        .dropdown-toggle:hover {color:#d06407;}
.navbar .nav li.dropdown             .dropdown-toggle       .icon-add {background:#555;}
.navbar .nav li.dropdown             .dropdown-toggle:hover .icon-add {background:#d06407;}
.navbar .nav li.dropdown.open        .dropdown-toggle       .icon-add,
.navbar .nav li.dropdown.open        .dropdown-toggle:hover .icon-add,
.navbar .nav li.dropdown.open.active .dropdown-toggle       .icon-add {background:#d06407;}
.navbar .nav li.dropdown             .dropdown-toggle       .caret {border-top-color:#555; border-bottom-color:#555; opacity:1; margin-top:9px;}
.navbar .nav li.dropdown             .dropdown-toggle:hover .caret {border-top-color:#d06407; border-bottom-color:#d06407;}
.navbar .nav li.dropdown.open        .dropdown-toggle       .caret,
.navbar .nav li.dropdown.open        .dropdown-toggle:hover .caret,
.navbar .nav li.dropdown.open.active .dropdown-toggle       .caret {border-top-color:#d06407; border-bottom-color:#d06407;}

#content {background:#fff; padding:199px 0 72px; border-bottom:2px solid #333; min-height:300px;}

#footer {padding:18px 0 48px; border-top:1px solid #000; color:#f2f2f2; line-height:26px; font-size:15px;}
#footer img {height:18px;}
#footer .span4:nth-of-type(2) p {text-align:center; line-height:18px;}
#footer .span4:last-of-type p {text-align:right;}


/* content-specific
-------------------------------------------------------------------------------- */
/* makes anchor tags in tables look nice */
#index-activeloans-table td:first-of-type,
#index-activeloans-table td:nth-of-type(3),
#actor-table td:first-of-type,
#loan-table td:first-of-type,
#loan-table td:nth-of-type(2) {padding-left:0; padding-right:0;}
#index-activeloans-table td:first-of-type a,
#index-activeloans-table td:nth-of-type(3) a,
#actor-table td:first-of-type a,
#loan-table td:first-of-type a,
#loan-table td:nth-of-type(2) a {padding-left:8px; padding-right:8px;}

/* prettifies content in actor-table loan-digit popup. relies on this being in the 3rd column */
#actor-table td:nth-of-type(3) .dropdown-menu li {border-bottom:1px solid #eee;}
#actor-table td:nth-of-type(3) .dropdown-menu li:last-of-type {border-bottom:0;}
#actor-table td:nth-of-type(3) .dropdown-menu a {position:relative; padding-right:235px;}
#actor-table td:nth-of-type(3) .dropdown-menu a > span {position:absolute; right:15px; white-space:nowrap; width:200px; text-align: right;}
/* hides tablesorter dropdown since the sort is turned off for this column */
#actor-table th:last-of-type:before,
#actor-table th:last-of-type:after {display: none;}

/* aligns data in the table */
#index-activeloans-table .label-amount {padding-left:0; padding-right:0;}



/* -----------------------------------------------------------------------------
Nathan's Note - unknown styles below
-------------------------------------------------------------------------------- */

.chart rect {
	stroke: darkgray;
	fill: steelblue;
}

#evaluate-graph .e-score {
    fill: #005FB3;
    opacity: .5;
}

#evaluate-graph .cs-score {
    fill: #007029;
    opacity: .5;
}

#evaluate-graph .threshold {
    fill: gray;
}


/* svg stuff for graphs */


text {
  fill: #ccc;
}

path {
  stroke-width: 2px;
  stroke: rgb(200,0,0);
  fill-opacity: 0.0;
}

.tickx line,
.ticky line {
  stroke-width: 1px;
  stroke: #333;
  stroke-opacity: 0.4;
  shape-rendering: crispedges;
}

.tickx text,
.ticky text {
  fill: #444;
  font-size: 10px;
}

.point {
  fill: rgb(244,132,37);
  stroke-width: 2px;
  stroke: rgb(255,255,255);
}

.point.max {
  stroke: rgb(50,50,50);
  stroke-width: 0;
}

/* end svg stuff */